code/services/SOAP get content/getContentRPC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://www.example.com/UserContent"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:web="http://www.example.com/UserContent"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://www.example.com/UserContent">

    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.com/UserContent">
            <element name="GetUserContentRequest">
                <complexType>
                    <sequence>
                        <element name="userid" type="string"/>
                        <element name="contentid" type="string"/>
                    </sequence>
                </complexType>
            </element>
            <element name="GetUserContentResponse">
                <complexType>
                    <sequence>
                        <element name="content" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>

    <message name="GetUserContentRequest">
        <part name="parameters" element="tns:GetUserContentRequest"/>
    </message>

    <message name="GetUserContentResponse">
        <part name="parameters" element="tns:GetUserContentResponse"/>
    </message>

    <portType name="MyServicePortType">
        <operation name="GetUserContent">
            <input message="tns:GetUserContentRequest"/>
            <output message="tns:GetUserContentResponse"/>
        </operation>
    </portType>

    <binding name="MyServiceBinding" type="tns:MyServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetUserContent">
            <soap:operation soapAction="http://www.example.com/UserContent/GetUserContent"/>
            <input>
                <soap:body use="encoded" namespace="http://www.example.com/UserContent" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://www.example.com/UserContent" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="MyService">
        <port name="MyServicePort" binding="tns:MyServiceBinding">
            <soap:address location="http://localhost:3001/UserContentService"/>
        </port>
    </service>
</definitions>
